<!DOCTYPE html>
<html>
<head>
    <title>Contact</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="navbar">
    <h2>ThermoPro</h2>
    <div>
        <a href="/home">Accueil</a>
        <a href="/calcul">Calcul</a>
        <a href="/contact">Contact</a>
        <a href="/logout">Logout</a>
    </div>
</div>

<div class="container">

<h1>Contact</h1>

<p>Nom : Khadija Elaidi</p>
<p>Téléphone : +212 646025483</p>
<p>Email : elaidikhadija16@gmail.com</p>
<p>Localisation : Settat</p>

</div>

</body>
</html>